body {
  font-family: Arial;
  background: #e8f5e9;
  text-align: center;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: white;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

input {
  width: 50%;
  padding: 12px;
  margin-top: 20px;
}

button {
  padding: 12px 20px;
  margin-left: 10px;
  cursor: pointer;
}

#results {
  margin-top: 30px;
  padding: 20px;
}